.modal_outmost_container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_content {
    background-color: white;
    display: inline-block;
}

.modal_header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.modal_title {
    margin: 0;
}

.modal.body {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}