body {
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.navbar_outmost_ctnr {
    border: 2px solid black;
    background-color: black;
    height: 65px;
    font-family: 'Didot', serif;
}

.navbar_innermost_ctnr {
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0px;
}

/*----------------------------------------------*/

.navbar_home_ctnr {
    background-color: skyblue;
    display: flex;
    align-items: center;
    height: 65px;
    list-style: none;
    position: absolute;
    left: 0%;
    

}

.navbar_Home {
    text-decoration: none;
    /* color: black; */
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-size: 24px;
    font-weight:bolder;
}

/*----------------------------------------------*/

.navbar_login_ctnr {
    list-style: none;
    position: absolute;
    right: 12%;
    font-size: 20px;

}

.navbar_Login {
    /* border: 2px solid skyblue; */
    text-decoration: none;
    /* color: black; */
    color: skyblue;
    font-weight: 700;
    display: flex;
    height: 65px;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.navbar_Login:hover {
    cursor: pointer;
    background-color: skyblue;
    color: white;
}

/*----------------------------------------------*/

.navbar_signup_ctnr {
    /* border: 2px solid skyblue; */
    list-style: none;
    position: absolute;
    right: 2%;
    font-size: 20px;
    height: 66px;
    width: 150px;

}

.navbar_Signup {
    text-decoration: none;
    /* color: black; */
    color: skyblue;
    font-weight: 700;
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    height: 100%;
    width: 100%;
    align-items: center;

}

.navbar_Signup:hover {
    cursor: pointer;
    background-color: skyblue;
    color: white;
}