body {
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.userNav_outmost_ctnr {
    border: 2px solid black;
    background-color: black;
    height: 65px;
    font-family: 'Didot', serif;

}

.userNav_innermost_ctnr {
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    margin-top: 0px;
    height: 100%;
    
}

/*-------------------------------------------------------*/

.userNav_home_ctnr {
    /* border: 2px solid red; */
    background-color: skyblue;
    display: flex;
    align-items: center;
    height: 65px;
    list-style: none;
    position: absolute;
    left: 0%;
    
}

.userNav_Home {
    text-decoration: none;
    /* color: black; */
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-size: 24px;
    font-weight:bolder;

}

/*-------------------------------------------------------*/

.userNav_CreateEvent_ctnr {
    list-style: none;
    position: absolute;
    margin-left: 20%;
    font-size: 20px;
}

.userNav_CreateEvent {
    text-decoration: none;
    /* border: 2px solid skyblue; */
    /* color: black; */
    color: skyblue;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width:155px;

}

.userNav_CreateEvent:hover {
    background-color: skyblue;
    color: black;

}

/*-------------------------------------------------------*/

.userNav_CreateAnnouncement_ctnr {
    list-style: none;
    position: absolute;
    margin-left: 35%;
    font-size: 20px;
}


.userNav_CreateAnnouncement {
    /* border: 2px solid skyblue; */
    text-decoration: none;
    /* color: black; */
    color: skyblue;
    font-weight: 700;
    display: flex;
    align-items: center;
    height: 65px;


}

.userNav_CreateAnnouncement:hover {
    background-color: skyblue;
    color: black;

}

/*-------------------------------------------------------*/

.userNav_logout_ctnr {
    /* border: 2px solid skyblue; */
    list-style: none;
    position: absolute;
    right: 8%;
    height: 65px;
    width: 100px;
    display: flex;
    justify-content: center;

    
}

.userNav_logout_ctnr:hover {
    
    background-color: skyblue;
    
}

.userNav_logout {

}

.userNav_logout:hover {
    
}

/*------------------------------------------------------*/

.userNav_Profile_ctnr {
    list-style: none;
    position: absolute;
    right: 3%;
    font-size: 20px;
}

.userNav_Profile {
    text-decoration: none;
    /* color: black; */
    color: skyblue;
    font-weight: 700;

}