.Footer_ctnr {
    display: flex;
    /* position: relative; */
    position:absolute;
    left:0px;
    bottom:0px;
    right:0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 130px;
}

/* @media screen and (min-height: 600px) {
    .Footer_ctnr {
        position:absolute;
        left:0px;
        bottom:0px;
        right:0px;
    }
} */

/* ================================================================= */

.aboutMe_container {
    /* border: 2px solid red; */
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
    gap: 10px;
   
}

.ownerName {
    list-style: none;
    /* margin-bottom: 10px; */
    color: skyblue;
    font-weight: 700;
}

.github {
    position: relative;
    text-decoration: none;
    color: skyblue;
    font-weight: 700;
}

.linkedIn {
    position: relative;
    text-decoration: none;
    color: skyblue;
    font-weight: 700;

}

/* ================================================================= */

.quickNav_container {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.createEvent_footer_link {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.createAnnouncement_footer_link {
    text-decoration: none;
    color: black;
    
}

.home_footer_link {
    text-decoration: none;
    color: black;

}