.profile_outmost_ctnr {
    height: 800px;
}

.profile_inner_ctnr {
    
}





/*----------------------------------------------------------------*/


.profile_ctnr {
    border: 2px solid red;
    height: 730px;
    /* width: 90%; */
}