.profile_outmost_ctnr {
    /* height: 1500px; */
    height: 100%;
}

.profile_inner_ctnr {
    /* border: 2px solid red; */
    height: 100%;
}





/*----------------------------------------------------------------*/


.profile_ctnr {
    /* border: 2px solid red; */
    height: 100%;
    /* width: 90%; */
    display: flex;
    flex-direction: column;

    
}
.profile_pic_wide {
    height: 500px;
    /* object-fit:contain; */
}

.update_profile_btn {
    list-style: none;
    position: absolute;
    /* border: 2px solid green; */
    background-color: skyblue;
    color: black;
    border-radius: 50px;
    padding: 20px;
    right: 50px;
    top: 370px;
    font-size: 20px;
}

.update_profile_btn:hover {
    cursor: pointer;
    background-color: rgb(56, 185, 236);
}


.user_username {
    /* border: 2px solid red; */
    position: absolute;
    color: white;
    /* bottom: 20px; */
    top: 370px;
    left: 400px;
    list-style: none;
    font-size: 30px;
}

.user_location {
    position: absolute;
    color: white;
    /* bottom: 20px; */
    top: 400px;
    left: 400px;
    list-style: none;
    font-size: 30px;
}

.update_location_ctnr {
    /* border: 2px solid red; */
    width: 400px;
    height: 100px;
    position: absolute;
    top: 420px;
    left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.address_ctnr {
    /* border: 2px solid yellow; */
    
}

.address_label {
    color: white;
    font-size: 20px;
}

.profileAddress_input {
    width: 80%;
    height: 30px;
}

.address_prompt {
    color: white;
    font-size: 20px;
    font-weight: 700;
}


.profile_contents_ctnr {
    /* border: 2px solid yellow; */
    display: flex;
    gap: 100px;
    height:300px;
    border-bottom: 2px solid black;

}

.profile_pic_ctnr {
    border: 2px solid rgba(0, 0, 0, 0.747);
    box-shadow: 0px 0px 20px 5px black;
    background-color: white;
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
    position: relative;
    bottom: 430px;
    left: 50px;
    gap: 20px;
}

.profile_pic {
    height: 400px;
    width: 100%;
    /* border-radius: 70%; */
    object-fit: cover;
    position: relative;
    
    /* left: 100px;
    top: 100px */
}

.profileImg_ctnr{
    height: 400px;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;
    align-items: center;
    gap: 100px;

}

.profile_about_ctnr{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.profile_about_label {
    /* border: 2px solid yellow; */
    font-size: 20px;
}

.profile_about {
    /* border: 2px solid brown; */
    width: 100%;
}

.about_input_ctnr {
    /* width: 100%; */
}

.homeChurch_ctnr {
    /* border: 2px solid green; */
    height: 200px;
    width: 800px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.homeChurch_label {
    font-size: 30px;
}

.homeChurch_box {
    /* border: 2px solid yellow; */
    box-shadow: 0px 0px 20px black;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 60%;
    height: 100px;
}

.homeChurch {
    list-style: none;
    font-size: 30px;
}

.homeChurch_input_ctnr {
    
}

.profileHomeChurch_input {
    width: 450px;
    height: 50px;
    font-size: 30px;
}


.update_btn_ctnr {
    /* border: 2px solid purple; */
    border-radius: 50px;
    width: 200px;
    position: absolute;
    right: 150px;
    top: 370px;
}

.submit_form_btn {
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    color: black;
    font-size: 20px;
}

/*----------------------------------------------------------------*/

.prompts_ctnr {
    display: flex;
    /* border: 2px solid green; */
    justify-content: space-between;
}

.profileEvents_prompt {
    /* border: 2px solid blue; */
    border-bottom: 2px solid black;
    /* border-right: 2px solid black; */
    position: relative;
    width: 51%;
    display: flex;
    justify-content: center;
    
}

.profileAnnouncements_prompt {
    /* border: 2px solid black; */
    border-bottom: 2px solid black;
    /* border-right: 2px solid black; */
    /* border-right: 2px solid black; */
    width: 49%;
    position: relative;
    display: flex;
    justify-content: center;
    
}


/*----------------------------------------------------------------*/

.userCreations_ctnr {
    display: flex;
}


.profileEvents_ctnr {
    /* border: 2px solid red; */
    width: 51%;
    height: 800px;
    overflow: scroll;
    display: flex;
    margin-top: 20px;
    padding: 10px;
    /* flex-direction: column; */
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.profileEvent_navlink {
    /* border: 2px solid green; */
    text-decoration: none;
    color: black;
}

.profileEvent_ctnr {
    border: 2px solid grey;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    
}

.profileEvent_title {
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    
}

.profileEvent_img_ctnr {
    /* border: 2px solid red; */
    display: flex;
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    float: left;

}

.profileEvent_img_ctnr > img {
    transform-origin: center center;
    object-fit: cover;
}

.profileEventImage.one {
    width: 300px;
    height: 200px;
    position: relative;
    
}

.profileEventImage.two {
    width: 300px;
    height: 200px;
    position: relative;
    right: 300px;
}

.profileEventImage.three {
    width: 300px;
    height: 200px;
    position: relative;
    right: 600px;
}

.image--hidden {
    animation: fadeOut 3s forwards ease-in-out;
    opacity: 0;
    /* display: none; */
}

.image--visible {
    animation: fadeIn 3s forwards ease-in-out;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.profileEvent_description {
    /* border: 2px solid orange; */
    list-style: none;
    padding: 10px;
    overflow: scroll;
    height: 50%;
    
}

/*----------------------------------------------------------------*/


.pr_outmost_ctnr {
    border-left: 2px solid black;
    height: 840px;
    width: 49.2%;
    gap: 20px;
    align-items: center;
    overflow: scroll;
}

.pr_inner_ctnr {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pr_ctnr {
    border: 2px solid black;
    margin-top: 20px;
    list-style: none;
    width: 400px;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}

.pr_description {
    /* border: 2px solid purple; */
    width: 75%;
    height: 150px;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    color: grey;
    font-style: italic;
    padding: 20px;
    
}

.pr_prayers_ctnr {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.pr_updatedelete_ctnr {
    /* border: 2px solid green; */
    width: 100%;
    height: 100px;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    /* padding: 10px; */
}

.pr_update_btn {
    /* border: 2px solid black; */
    /* height: 100%; */
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    border-radius: 50px;
    text-decoration: none;
    color: black;
}

.pr_update_btn:hover {
    cursor: pointer;
    background-color: rgb(64, 186, 234);
}

.pr_delete_btn {
    /* border: 2px solid black; */
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    border-radius: 50px;
    
}

.pr_delete_btn:hover {
    cursor: pointer;
    background-color: rgb(64, 186, 234);
    
    
}