/* TODO Add site wide styles */

.App_Loading_Ctnr {
    /* border: 2px solid red; */
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}


.App_Loading_Label {
    margin-top: 150px;
    font-size: 60px;
    font-family: 'Didot', serif;
}

.Footer_ctnr {
    position:relative;
        left:0px;
        bottom:0px;
        right:0px;
}