body {
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.Dashboard {
    /* border: 5px solid red; */
    height: 100%;
    /* font-family: 'Didot', serif; */
}

.Dashboard_intro_ctnr {
    background-color: #f1f5f7;
    border-bottom: 1px solid black;
    
}

.animated_images_ctnr {
    border: 2px solid orange;
    height: 400px;
    
}

.animated_images_inner_ctnr {
    border: 2px solid red;
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: 2;
}

/*-----------------------------------------------------------*/

.animated_images_rowOne {
    border: 2px solid purple;
    height: 24%;
    display: flex;
}

.rowOne.imageOne{
    /* border: 2px solid green; */
    background-image: url('../../imagesTwo/animated-foreground-image2.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}
.rowOne.imageTwo{
    background-image: url('../../imagesTwo/animated-foreground-image3.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}
.rowOne.imageThree{
    background-image: url('../../imagesTwo/animated-foreground-image4.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}
.rowOne.imageFour{
    background-image: url('../../imagesTwo/animated-foreground-image5.webp');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}
.rowOne.imageFive{
    background-image: url('../../imagesTwo/animated-foreground-image6.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowOne.imageSix{
    background-image: url('../../imagesTwo/animated-foreground-image7.webp');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowOne.imageSeven{
    background-image: url('../../imagesTwo/animated-foreground-image8.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowOne.imageEight{
    background-image: url('../../imagesTwo/animated-foreground-image9.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowOne.imageNine{
    background-image: url('../../imagesTwo/animated-foreground-image10.png');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowOne.imageTen{
    background-image: url('../../imagesTwo/animated-foreground-image11.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

/*-----------------------------------------------------------*/

.animated_images_rowTwo {
    border: 2px solid purple;
    height: 24%;
    display: flex;
    
}

.rowTwo.imageOne {
    background-image: url('../../imagesTwo/animated-foreground-image12.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowTwo.imageTwo {
    background-image: url('../../imagesTwo/animated-foreground-image13.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowTwo.imageThree {
    background-image: url('../../imagesTwo/animated-foreground-image14.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowTwo.imageFour {
    background-image: url('../../imagesTwo/animated-foreground-image15.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowTwo.imageFive {
    background-image: url('../../imagesTwo/animated-foreground-image16.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowTwo.imageSix {
    background-image: url('../../imagesTwo/animated-foreground-image17.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowTwo.imageSeven {
    background-image: url('../../imagesTwo/animated-foreground-image18.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowTwo.imageEight {
    background-image: url('../../imagesTwo/animated-foreground-image19.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowTwo.imageNine {
    background-image: url('../../imagesTwo/animated-foreground-image20.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

.rowTwo.imageTen {
    background-image: url('../../imagesTwo/animated-foreground-image21.jpeg');
    height: 100%;
    width:10%;
    object-fit:fill;
    background-size: 100% 100%;
}

/*-----------------------------------------------------------*/


.animated_images_rowThree {
    border: 2px solid purple;
    height: 24%;
    display: flex;
    
}

.rowThree.imageOne{

}

.rowThree.imageTwo{

}

.rowThree.imageThree{

}

.rowThree.imageFour{

}

.rowThree.imageFive{

}

.rowThree.imageSix{

}

.rowThree.imageSeven{

}

.rowThree.imageEight{

}

.rowThree.imageNine{

}

.rowThree.imageTen{

}



/*-----------------------------------------------------------*/

.animated_images_rowFour {
    border: 2px solid purple;
    height: 24%;
    display: flex;

}


.CC_intro_text {
    margin: 0;
    font-size: 80px;
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    z-index: 1;
    
    
}

.CCBlurb_ctnr {
    /* border: 2px solid red; */
    margin: 0;
    height: 100%;
    font-family: 'Didot', serif;
    padding: 20px;
    display: flex;
    align-items: center;
    
}

.CCBlurb {
    font-size: 30px;
    

}

.CCStarter_btn_ctnr {
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
    font-family: 'Didot', serif;
    margin-right: 25px;
    /* height: 200px; */
    
}

.CCStarter_btn {
    list-style: none;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
    color: black;
    border-radius: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    width: 400px;
    height: 100px;
    text-decoration: none;
}

/*---------------------------------------------*/

.Dashboard_outmost_ctnr {
    /* border: 5px solid pink; */
}


/* @media only screen and (min-height: 601px) {
    .Dashboard_outmost_ctnr {
        height: 1000px;
        border: 5px solid pink;
        background-color: #f1f5f7;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
} */


.selectAnnouncement_prompt {
    font-size: 30px;
}

.scrollAnnouncement_prompt {
    font-size: 25px;
}


/*---------------------------------------------*/

.Dashboard_pr_ctnr {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
    overflow: scroll;
    /* gap: 100px; */
    
}

.Dashboard_pr_view {
    /* border: 10px solid red; */
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 300px;
    /* overflow: scroll; */
    /* width: 400px; */
    /* transform: translate(0, -50%) */
    animation: nasdaq 40s linear infinite;
}

@keyframes nasdaq {
    0% {
        left: 100%;
    }
    100% {
        left: -215%;
    }
}

.Dashboard_pr_view:hover {
    animation-play-state: paused;
}

.DashboardAnnouncements_link {
    border: 2px solid grey;
    text-decoration: none;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    list-style: none;
}
.DashboardAnnouncements_link:hover {
    box-shadow: 0 0 10px black;
}

.DashboardAnnouncements_items_wrapper {
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
    
    
}


.DashboardAnnouncement_item.description {
    list-style: none;
    /* border: 2px solid yellow; */
    display: flex;
    overflow-wrap: break-word;
    padding: 10px;
    height:100px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.DashboardAnnouncement_item.username {
    /* border: 2px solid blue; */
    margin-bottom: 10px;
}

.prayer_ctnr {
    /* border: 2px solid purple; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 15px;
    gap: 10px;
   
}

.prayer_ctn {

}

.prayer_btn {
    /* border: 2px solid orange; */
    position: relative;
    /* left: 120px; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-image: url('../../image/praying_hands_white_bg.jpeg');
    background-size: 100% 100%;
    background-color: blue;
}
.prayer_btn:hover {
    cursor: pointer;
}


/*----------------------------------------------*/

.Dashboard_event_ctnr {
    /* border: 6px solid yellow; */
    display: flex;
    /* background-color:white; */
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    gap: 50px;
    overflow-x: scroll;
}

.Dashboard_event_ctnr_title {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    font-family: 'Didot', serif;
    flex-direction: column;
    justify-content: center;
    /* color: skyblue; */
    /* background-color: black; */
    
    
}

.selectEvent_prompt {
    font-size: 30px;
}

.swipeEvent_prompt {
    font-size: 20px;
}

/*----------------------------------------------*/

.NavLink_ctnr {
    border: 2px solid grey;
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 0 0 10px black; */
    height: 550px;
    margin-left: 10px;
    width: 700px;
    text-decoration: none;
    color: black;
    font-family: 'Didot', serif;
}

.NavLink_ctnr:hover {
    box-shadow: 0 0 10px black;

    
}

.Dashboard_event_title {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    font-size:24px;
    /* font-family: 'Comic Sans MS', cursive;  */
    font-family: 'Didot', serif;
}

.eventImage_ctnr {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
}

.eventImage_ctnr > img {
    scroll-snap-align: start;
    flex-shrink: 0;
    background: #eee;
    transform-origin: center center;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.EventImage.one {
    width: 700px;
    height: 400px;
}

.EventImage.two {
    width: 700px;
    height: 400px;
}

.EventImage.three {
    width: 700px;
    height: 400px;
}

.DashboardEvent_items_ctnr {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.startDateTime_ctnr {
    margin-left: 40px;
    margin-right: 10px;
}

.endDateTime_ctnr {
    margin-right: 40px;
    margin-left: 10px;
}

.DashboardEvent_items {
    

}

.DashboardEvent_items.startDate {

}

.DashboardEvent_items.startTime {

}

.DashboardEvent_items.endDate {

}

.DashboardEvent_items.endTime {

}

/*-----------------------------------------------------------*/


.Footer_ctnr {
    position:relative;
        left:0px;
        bottom:0px;
        right:0px;
}