.Dashboard_outmost_ctnr {
    height: 700px;
    border-bottom: 2px solid black;
    background-color: #f1f5f7;
    display: flex;
    gap: 20px;
}

/*---------------------------------------------*/

.Dashboard_announcement_ctnr {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 580px;
    overflow: scroll;
}

.DashboardAnnouncements_link {
    text-decoration: none;
}

.DashboardAnnouncements_items_wrapper {
    /* border: 2px solid black; */
    width: 400px;
    color: black;
    background-color: white;
    
}

.DashboardAnnouncement_item.img {
    height: 200px;
    width: 100%;
    
}

.DashboardAnnouncement_item.title {
    list-style: none;
    font-size:20px;
    width: 100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}



.DashboardAnnouncement_item.description {
    list-style: none;

}



/*----------------------------------------------*/

.Dashboard_event_ctnr {
    /* border: 6px solid yellow; */
    /* display: flex; */
    width: 100%;
    overflow: scroll;
}

/*----------------------------------------------*/

.DashboardEvents_title_ctnr {

}

.DashboardEvents_title {

}

/*----------------------------------------------*/

.DashboardEvents_items_outter_ctnr {
    /* border: 2px solid red; */
    display: flex;
    gap: 30px;
    /* overflow: scroll; */
    /* width: 100%; */
    /* height: 600px; */
}

.DashboardEvents_inner_ctnr {
    /* border: 2px solid black; */
    /* height: 300px; */
    list-style: none;
    text-decoration: none;
    color: black;
}

.DashboardEvents_items_wrapper{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* height: 300px; */
}

.DashboardEvents_item.imgOne {
    width: 200px;
    height: 100px;
}

.DashboardEvents_item.imgTwo {
    width: 200px;
    height: 100px;
}

.DashboardEvents_item.imgThree {
    width: 200px;
    height: 100px;
}

.DashboardEvents_item.title {
    font-size: 20px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.DashboardEvents_item.description {

}

.DashboardEvents_item.startDate {

}

.DashboardEvents_item.endDate {

}

.DashboardEvents_item.startTime {

}

.DashboardEvents_item.endTime {

}