.Dashboard_titles {
    display: flex;
    /* justify-content: space-between; */
    gap: 500px;
}



/*---------------------------------------------*/

.Dashboard_outmost_ctnr {
    height: 700px;
    /* border-bottom: 2px solid black; */
    background-color: #f1f5f7;
    display: flex;
    gap: 20px;
}

/*---------------------------------------------*/

.Dashboard_announcement_ctnr {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    overflow: scroll;
    font-family: 'Didot', serif;
    border-right: 1px solid black;
}

.DashboardAnnouncements_link {
    text-decoration: none;
}

.DashboardAnnouncements_items_wrapper {
    /* border: 2px solid black; */
    width: 400px;
    color: black;
    background-color: white;
    
}

.DashboardAnnouncement_item.img {
    height: 200px;
    width: 100%;
    
}

.DashboardAnnouncement_item.title {
    list-style: none;
    font-size:20px;
    width: 100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}



.DashboardAnnouncement_item.description {
    list-style: none;

}



/*----------------------------------------------*/

.Dashboard_event_ctnr {
    /* border: 6px solid yellow; */
    display: flex;
    /* background-color:white; */
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    gap: 50px;
    overflow-x: scroll;
}

.Dashboard_event_ctnr_title {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    font-family: 'Didot', serif;
    /* color: skyblue; */
    /* background-color: black; */
    
    
}

/*----------------------------------------------*/

.NavLink_ctnr {
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    /* height: 100%; */
    width: 700px;
    text-decoration: none;
    color: black;
    font-family: 'Didot', serif;
}

.Dashboard_event_title {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    font-size:24px;
    /* font-family: 'Comic Sans MS', cursive;  */
    font-family: 'Didot', serif;
}

.eventImage_ctnr {
    /* width: 400px;
    text-align: center;
    overflow: scroll;
    display: flex;
    gap: 20px;
    scroll-snap-type: x mandatory; */

    /* overflow: auto;
    outline: 1px dashed lightgray;
    flex: none;
    width: 100%;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory; */

    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.eventImage_ctnr > img {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    /* margin-right: 50px; */
    /* border-radius: 10px; */
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.EventImage.one {
    width: 700px;
    height: 400px;
}

.EventImage.two {
    width: 700px;
    height: 400px;
}

.EventImage.three {
    width: 700px;
    height: 400px;
}

.DashboardEvent_items_ctnr {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.startDateTime_ctnr {
    margin-left: 20px;
}

.endDateTime_ctnr {
    margin-right: 20px;
}

.DashboardEvent_items {
    

}