.comments_outmost_ctnr {
    background-color: silver;
}

/*----------------------------------------------------------------*/


.comments_view {
    /* border: 2px solid black; */
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comments_in_view_ctnr {
    /* display: flex; */
    /* justify-content: center; */
}

.comments_in_view {
    list-style: none;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
    width: 200px;
    height: 50px;

}


/*----------------------------------------------------------------*/

.comment_textField_wrapper {
    /* border: 2px solid black; */
    display: flex;
    height: 100%;
}

.comment_textField {
    width: 100%;
    height: 100%;
}

.post_comment_btn {
    /* border: 3px solid green; */
    height: 100%;
    width: 60px;
}