.comments_outmost_ctnr {
    background-color: white;
    /* border: 2px solid red; */
    height:100%;
}

.comments_inner_ctnr {
    border: 2px solid black;
    position: sticky;
    top: 0px;
}

/*----------------------------------------------------------------*/


.comments_view {
    /* border: 2px solid red; */
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    gap: 20px;
}

.comments_in_view_ctnr {
    /* border: 2px solid red; */
    /* display: flex; */
    /* align-items: center; */
    gap: 20px;
    margin-left: 20px;
}

.comments_in_view {
    list-style: none;
    /* border: 1px solid black; */
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    /* margin-bottom: 15px; */
    width: 300px;
    height: 100%;

}
/*----------------------------------------------------------------*/

.accessory_btn_ctnr {
    margin-top: 10px;
    /* border: 2px solid red; */
    display: flex;

}


.comments_btns {
    list-style: none;
    /* border: 2px solid blue; */
    /* position: relative; */
    bottom: 50px;
    left: 20px;
    display: flex;
    /* flex-direction: column; */
    color: grey;
    font-weight: 700;
    width: 100px;
    gap: 14px;
}

.eventComment_delete_btn {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.eventComment_delete_btn:hover {
    cursor: pointer;
    /* border: 1px solid black; */
}

.eventComment_edit_btn {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventComment_edit_btn:hover {
    cursor: pointer;
    /* border: 1px solid black; */
}
/*----------------------------------------------------------------*/

.allowReply_ctnr {
    list-style: none;
    /* border: 1px solid black; */
    /* color: grey; */
}


.replies_outmost_ctnr {
    /* border: 1px solid green; */
    width: 300px;
}

.viewRepliesLabel_ctnr {
    /* border: 1px solid green; */
    display: flex;
}


.viewReplies_text {
    list-style: none;
    /* border: 3px solid blue; */
    margin-top: 10px;
    color: grey;
    font-weight: 700;
    width: 100px;
}

.repliesCount {
    position: relative;
    top: 9px;
}

.replies_inner_ctnr {
    /* border: 3px solid yellow; */
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
}

.replyText_ctnr {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
    
}

.replyText_wrapper {
    /* border: 3px solid green; */
}



.replyText.text {
    /* border: 3px solid purple; */
}

.replyBtns_ctnr {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.replyText.delete {
    /* border: 3px solid purple; */
    display: flex;
    justify-content: center;
    color: grey;
    font-weight: 700;
    width: 50px;
}

.replyText.edit {
    /* border: 3px solid purple; */
    display: flex;
    justify-content: center;
    color: grey;
    font-weight: 700;
    width: 50px;

}

.allowReply_text {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: grey;
    width: 50px;
}

.hideReplies_text {
    /* border: 3px solid green; */
}

/*----------------------------------------------------------------*/

.comment_textField_wrapper {
    /* border: 2px solid green; */
    display: flex;
    height: 100%;
}

.comment_textField {
    width: 100%;
    height: 100%;
}

.post_comment_btn {
    /* border: 3px solid green; */
    height: 100%;
    width: 60px;
}