.announcementDisplay_outmost_ctnr {
    /* border: 2px solid black;
    background-color: #f1f5f7;
    display: flex;
    justify-content: center;
    height: 700px; */

}

@media only screen and (min-height: 601px) {
    .announcementDisplay_outmost_ctnr {
        border: 2px solid black;
        background-color: #f1f5f7;
        display: flex;
        justify-content: center;
        height: 100%;
    
    }

}

.announcementDisplay_inner_ctnr {
    border: 2px solid black;
    width: 800px;
    height: 100%;
    background-color: white;
}

/*----------------------------------------------------------------*/

.announcementDisplay_img_ctnr {
    /* border-bottom: 4px solid black; */
}


.announcementDisplay_img {
    width: 100%;
    height: 400px;
}

/*----------------------------------------------------------------*/

.announcementDisplay_title{
    font-size: 50px;
    /* margin-bottom: 50px; */
    /* padding-bottom: 30px; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    font-family: 'Didot', serif;
    font-weight: 700;

    
}

/*----------------------------------------------------------------*/

.announcementDisplay_description {
    font-size: 40px;
    font-family: 'Didot', serif;
    /* margin: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    
}

/*----------------------------------------------------------------*/

.announcementDisplay_btn_ctnr {
    /* border: 2px solid black; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    
}

.announcementDisplay_update_btn {
    
}

.announcementDisplay_delete_btn {

}

.announcementDisplay_btn {
    list-style: none;
    /* border: 2px solid black; */
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: skyblue;
}
.announcementDisplay_btn:hover {
    cursor: pointer;
    background-color: rgb(84, 187, 228);
    font-size: 20px;
}

/*----------------------------------------------------------------*/

.announcementDisplay_commentreplies_ctnr {
    /* border: 2px solid black; */
    /* background-color: #f1f5f7; */
    width: 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    /* font-weight: 700; */
    
}

/*----------------------------------------------------------------*/

.announcementDisplay_footer {
    position:relative;
        left:0px;
        bottom:0px;
        right:0px;
}








