.announcement_outmost_ctnr {
    /* border: 5px solid green; */
}


.createAnnouncement_instructions {
    float: left;
}

/*-------------------------------------------*/

.announcement_inner_ctnr {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

/*-------------------------------------------*/

.announcementForm_ctnr {
    
}

/*-------------------------------------------*/

.announcementImageURL_ctnr {
    
}

.announcementImageURL_label {
    
}

.announcementURL_input {
    
}
/*-------------------------------------------*/

.announcementTitle_ctnr {
    
}

.announcementTitle_label {

}

.announcementTitle_input {

}


/*-------------------------------------------*/
.announcementDescription_ctnr {

}

.announcementDescription_label {

}

.announcementDescription_input {

}

/*-------------------------------------------*/

.announcementForm_btn {

}


/*-------------------------------------------*/

.announcementFooter_ctnr {

}

/*-------------------------------------------*/